#online-resume {
    width: 100%;
    height: fit-content;
    background: #161616;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 4.4rem;

    #container {
        width: 60.5rem;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;
        gap: 3.5rem;

        h1 {
            font-family: 'Archivo Black', arial, sans-serif;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 3.2rem;
            color: #E5EBEC;
        }

        #sub-container {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;

            #column {
                width: 28.3rem;
                position: relative;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                figure {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1.8rem;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }

                    figcaption {
                        font-family: 'Montserrat', arial, sans-serif;
                        color: #eee;
                        font-size: 2rem;
                    }
                }

                article {
                    width: 100%;
                    color: #949494;
                    font-size: 1.35rem;
                }
            }
        }
    }
}