#footer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    gap: 3rem;
    align-items: center;
    font-family: 'Montserrat', arial, sans-serif;

    h1 {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 1000;
    }

    p {
        color: rgb(148, 148, 148);
        font-size: 1.17rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    #footer {
        padding-bottom: 4rem;

        h1 {
            font-size: 1.4rem !important;
        }
    }
}